<div class="no-display">
  <%= form_with url: results_path do |f| %>
  <% end %>
</div>

<div class="me-3">
  <%= form_with url: results_path, method: :get do |form| %>
    <%= form.submit "Поиск",  data: { turbo: false } %>
    <%= form.text_field :query %>
  <% end %>
</div>
