  <% errors = model.errors %>

  <% if errors.any? %>
    <div class="errors-form">
    <div id="error_explanation">
    <h4 class="title-errors text-center">
      <%= "errors.messages.not_saved" %>
    </h4>
        <ul class="text-error">
          <% errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
