<div class="container">

<div class="errors_messages mb-1">
  <%= render partial: "partial/error_messages", locals: { model: @song } %>
</div>

<h2 class="title-registration">Добавит песню</h2>

<%= render "songs/form" %>

</div>
