<div class="container">

  <div class="mb-2">
    <%= render "partial/error_messages", model: @song %>
  </div>

  <h2 class="title-registration">Добавит песню: <%= "@#{current_user.name}" %></h2>

  <%= render "songs/form" %>

</div>
