<div class="container">

<h2 class="title-registration"><%= "#{ @alphabet.abc }" %></h2>
  
<div class="col-12">
  <div class="body-form">
    <% @alphabet.authors.each do |author| %>
    <%= link_to author.name, author_path(author)  %>
    <% end %>
  </div>
</div>

    <p class="title-registration"><%= link_to "Back", :back, class: "text-white-back" %></p>
</div>
