.box-1 {
  grid-column: 1fr;
  border: 1px solid grey;
  padding: 10px;
  background-color: antiquewhite;
}

.box-1-1 {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 5px;
  row-gap: 5px;
  padding: 10px;
  background-color: antiquewhite;
}

.box-2 {
  display: grid;
  grid-column: 1fr;
  border: 1px solid grey;
  padding: 10px;
  row-gap: 10px ;
  background-color: antiquewhite;
}

.box-3 {
  grid-column: 1fr;
  border: 1px solid grey;
  padding: 50px;
  background-color: antiquewhite;
}

.add-song {
  grid-template-columns: 1fr;
  background-color: antiquewhite;
}