.size-btn {
  max-width: 130px;
}

.btn {
  min-width: 120px;
  border-radius: 0px;
}

.size-btn-song {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 400px;
  height: 50px;
  min-width: 20px;
}

.slide_right:hover {
  box-shadow: inset 100px 0 0 0 #282828;
}

.slide_left:hover {
  box-shadow: inset 0 0 0 50px #525252;
}

.slide_diagonal:hover {
  box-shadow: inset 400px 50px 0 0 #D80286;
}


.btn-field-left {
  justify-self: center;
}

.btn-field-right {
  justify-self: center;
}

.btn-field-center {
  justify-items: center;
  align-items: center;
  grid-column: span 2;
}
