.color-grey {
  background-color: gainsboro;
}

.bg-color-header {
  background-color: #000000;
}

.link-white {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.link-white:hover {
  color: rgb(149, 149, 149);
}