.content-column {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.column-left {
  display: grid;
  grid-template-rows: auto;
  border: 1px solid black;
}

.column-center {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
  border: 0.1px solid gainsboro;
  padding: 15px;
  gap: 15px;
}

.column-center-one {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: center;
  border: 0.1px solid gainsboro;
  padding: 10px;
  gap: 15px;
}

.column-right {
  display: grid;
  grid-template-rows: auto;
  border: 1px solid black;
}

.border-column {
  border-bottom: 5px solid grey;
}
