.content-column {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.column-left {
  display: grid;
  grid-template-rows: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.column-center {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
  border: 0.1px solid gainsboro;
  padding: 15px;
  gap: 15px;
}

.column-right {
  grid-template-rows: auto;
  display: grid;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.border-column {
  border-bottom: 5px solid grey;
}
