.container-profile {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  column-gap: 2em;
  align-items: none;
  justify-items: none;
}

.column-left-profile {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}

.column-center-profile {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px;
  row-gap: 50px;
}

.column-right-profile {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
  gap: 5px;
}
